<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="PythonHandler" />
            <add name="flaskhandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python313\python.exe|C:\Users\Administrator\Desktop\mysite\wfastcgi.py&quot;" resourceType="Unspecified" requireAccess="Script" />
      <add name="PythonHandler" path="*.py" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python313\python.exe|C:\Program Files\Python313\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".py" allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <add value="app.py" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="C:\Users\Administrator\Desktop\machinecanvas.co-main" />
  </appSettings>
</configuration>
